.overlay {
  height: 100%;
  width: 100%;
  z-index: 25;
  display: flex;
  justify-content: center;
}

.TrackInformation {
  height: 75%;
  width: 100%;
  position: absolute;
  background: white;
  z-index: 100;
  padding: 1em;
  border: 1px solid #ddd;
  box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  transition: 0.25s;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (min-width: 768px) {
  .TrackInformation {
    height: 500px;
    width: 500px;
  }
}

.TrackInformation-Close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
}
