.Track {
  width: 100%;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  overflow: hidden;
  display: inline-block;
  margin: 0 30px 30px 0;
  border: 1px solid #fff;
}

.Track:hover {
    background: black;
    opacity: 0.8;
}

.Track-Play:hover{
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

.Track-Details {
  padding: .5em;
  z-index: 1000;
  position: absolute;
  top: 172px;
  color: white;
  width: 92%;
  opacity: 0.7;
}

.Track-Details-Song {
  text-align: center;
  padding: 1em;
}

.Track-Details-isPlaying {
  text-align: center;
  font-size: 3em;
  position: absolute;
  color: white;
  z-index: 100;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.Track-Artwork {
  height: 100%;
  background-position: center;
  background-color:rgba(255,0,0,0);
}

.Track-Play {
  font-size: 1.5em;
}

.Track-Tags-Item {
  display: inline-block;
  padding-left: 1em;
  margin-top: 1em;
}

.Track-Favourite {
  position: absolute;
  right: 2.5em;
  padding: 1em;
  height: 60px;
}

.Track-Share {
  position: absolute;
  right: 5.5em;
  padding: 1em;
  height: 60px;
}
