@import './ProgressBar.css';

.Player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1005;
  padding: 24px;
  text-align: center;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  min-height: 10em;
  border: 1px solid #777;
}

.Player-Close {
  display: inline-block;
  max-width: 64px;
  position: absolute;
  right: 1em;
  top: .5em;
}

.Player-LoadingTrack {
  display: flex;
  justify-content: center;
}

input[type="range"]
{
  	-webkit-appearance: none !important;
  	-moz-appearance: none !important;
  	-ms-appearance: none !important;
  	-o-appearance: none !important;
    appearance: none !important;
  	background: rgba(10, 10, 10, 0.6);
  	border-radius: 10px;
	  height: 5px;
  	outline: none;
	  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb
{
  	-webkit-appearance: none !important;
	  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, #A9A9A9), color-stop(0.83, #DCDCDC));
	  height: 15px;
	  width: 15px;
  	border-radius: 50%;
}

input[type='range']::-moz-slider-thumb
{
  	-moz-appearance: none !important;
	  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, #A9A9A9), color-stop(0.83, #DCDCDC));
	  height: 20px;
	  width: 20px;
  	border-radius: 50%;
}

input[type="range"]:before
{
  	position: absolute;
  	font: 20px 'FontAwesome';
  color: rgba(255, 255, 255, 0.7);
  	content: '\f026';
  	top: 0px;
  	left: -20px;
}

input[type="range"]:after
{
	  position: absolute;
	  font: 20px 'FontAwesome';
  color: rgba(255, 255, 255, 0.7);
	  content: '\f028';
	  top: 0px;
  	right: -10px;
}
