.Player-TrackProgress {
  margin-top: 1em;
}

.Player-TrackProgress-Time, .Player-TrackProgress-CurrentTime  {
  width: 3em;
  margin: 0 auto;
  display: inline-block;
}

progress {
  /* style rules */
  background-color: #777;
  color: #777;
  width: 69%;
  opacity: 0.7;
}
progress::-webkit-progress-bar {
  /* style rules */
  background-color: #777;
  color: #777;
}
progress::-webkit-progress-value {
  /* style rules */
  background-color: #1abbff;
  color: #777;
}
progress::-moz-progress-bar {
  /* style rules */
  background-color: #1abbff;
  color: #777;
}
