@import './components/Track/Track.css';
@import './components/Nav/Nav.css';
@import './components/Player/Player.css';
@import './components/TrackInformation/TrackInformation.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

h1 {
  font-size: 1.3em;
  text-align: left;
  padding: 0;
}

h2 {
  font-size: 1em;
  text-align: left;
}

button {
  background: transparent;
  opacity: 0.7;
  width: 70px;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin: 2em 0 0 1em;
  font-weight: 400;
  border: 1px solid #fff;
  font-size: .8em;
}

button:hover {
  background: black;
  opacity: 0.7;
}
