@import url('https://fonts.googleapis.com/css?family=Pacifico');

.nav {
  height: 10%;
  padding: 30px;
}

.nav-menu {
  margin-bottom: 2.5em;
  opacity: 0.8;
}

.nav-menu img:hover {
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.nav-title {
  font-size: 3em;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
